@model HelloASPDotNet.Models.ViewModels.SkillsFormViewModel

@{
    ViewData["Title"] = "FormSubmit";
}

<h1>FormSubmit</h1>

<div>
    <h4>SkillsFormViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CSharpLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CSharpLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JavaScriptLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JavaScriptLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JavaLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JavaLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
